html{
font-family: georgia;
line-height: 1.5;

}
.wrapper{
  max-width: 900px;
  margin:auto;
  padding:1rem;
  border-style:dotted;
  border-width: 1px;
  border-color: rgb(120, 140, 200); 120,140,200;
}

h1{
font-size: 3.5rem;

}
h3{
  font-size: 1rem;
  text-transform: capitalize;
}
h1, h2, h3, .subtitle{
font-family: arial black, arial, serif;
font-weight: 900;
color:rgb(120, 140, 200); 120,140,200;
letter-spacing: .2em;
text-align: center;

}
a{
color: peru;
text-decoration: none;
}

.float-left{
  float: left;
  width: 420px;
  clear: left;
}
.float-right{
  float: right;
  width: 420px;
  clear: right;
}
.types-dogs,ol, ol li ul{
  background-color: papayawhip;
  padding: 2rem;
  margin: 2rem;
  padding: 0;
}
.hamster{
width:200px;

}
nav ul li{
display: inline;
}
img{
margin: 1rem;

}
header{
text-align: center;
border-bottom: 3px;
border-style: dashed;
border-color: peru;

}
footer{
text-align: center;
background-color: lavender;
padding: 1rem;

}

nav li{
display: inline-block;
border-style: solid;
border-width:2px;
border-color: peru;
padding: .3em;
margin: .2em;
}
