body{
border: 2px dotted darkslateblue;
max-width: 800px;

/*center the content*/
margin:auto;
padding: 1rem;
}

html{
font-size: 16px;

}
/*the li elements inside ul inside the nav*/
nav ul li{
  /* the inline-blockis like inline but we can change the width*/
  display: inline-block;
  background-color: pink;
width: 100px;
padding: 1rem;
}

nav ul{
  text-align: center;
  padding: 0;

}

img{
  float:left;
  margin: 1rem;
}

h2{
  /* stop this element from warpping arounf elements that have float:left*/
  clear: both;
}
